<div id="topbar" class="d-none d-lg-flex align-items-end topbar-transparent">
  <div class="container-fluid d-flex justify-content-end">
    <div class="social-links">
      <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faLinkedIn"></fa-icon></a>
    </div>
  </div>
</div>

<div class="nav-container">
  <nav class="navbar navbar-expand-md navbar-light bg-light navbar-template sticky-top" id="nav-bar">
    <div class="container">
      <div class="navbar-brand logo"></div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        arial-controls="navbarNav"
        [attr.aria-expanded]="!isCollapsed"
        aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed" 
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div 
        class="collapse navbar-collapse"
        id="navbarNav"
        [ngbCollapse]="isCollapsed"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              routerLink="/" 
            >
              Home
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/buses"
            >
              Buses
            </a>
        </ul>
        <ul class="navbar-nav d-none d-md-block">
          <!-- Login button: show is NOT authenticated -->
          <li 
            class="nav-item"
            *ngIf="(auth.isAuthenticated$ | async) === false"
          >
            <button
              id="loginBtn"
              class="btn btn-primary btn-margin"
              (click)="loginWithRedirect()" 
            >
              Log in
            </button>
          </li>
          <!-- / Login button -->
          <!-- Fullsize dropdown: show if authenticated -->
          <li
            class="nav-item"
            *ngIf="auth.user$ | async as user"
            ngbDropdown
          >
            <a 
              ngbDropdownToggle 
              class="nav-link dropdown-toggle" 
              id="profileDropDown"
              data-toggle="dropdown"
            >
              <!-- Profile image should be set to the profile picture from the id token -->
              <img 
                [src]="user.picture" 
                alt="Profile picture"
                class="nav-user-profile rounded-circle"
                style="width: 75px;"
              >
            </a>
            <div 
              class="dropdown-menu dropdown-menu-left" 
              ngbDropdownMenu
            >
              <!-- show the user's full name from the id token here -->
              <div 
                class="dropdown-header"
              >
                {{ user.name }}
              </div>
              <a 
                routerLink="/profile" 
                class="dropdown-item dropdown-profile"
              >
                <fa-icon 
                  [icon]="faUser" 
                  class="mr-3"
                >
                </fa-icon>
                Profile
              </a>
              <button
                (click)="logout()"
                class="btn btn-link dropdown-item"
                id="logoutBtn"
              >
                <fa-icon 
                  [icon]="faUser" 
                  class="mr-3"
                >
                </fa-icon>
                Log out
              </button>
            </div>
          </li>
          <!-- fullsize dropdown -->
        </ul>

        <!-- Login button: show is NOT authenticated -->
        <ul 
          class="navbar-nav d-md-none"
          *ngIf="(auth.isAuthenticated$ | async) === false"
        >
          <button
            id="loginBtn"
            class="btn btn-primary btn-margin"
            (click)="loginWithRedirect()" 
          >
            Log in
          </button>
        </ul>
          <!-- / Responsive login button -->
          <!-- Responsive profile dropdown: show if authenticated -->
        <ul
          class="navbar-nav d-md-none justify-content-between"
          *ngIf="auth.user$ | async as user"
          style="min-height: 170px;"
        >
          <li class="nav-item">
            <span class="user-info">
              <!-- Profile image should be set to the profile picture from the id token -->
              <img 
                [src]="user.picture" 
                alt="Profile picture"
                class="nav-user-profile d-inline-block rounded-circle mr-3"
                style="width: 75px;"
              >
              <!-- show the user's full name from the id token here -->
              <h6 class="dropdown-header">
                {{ user.name }}
              </h6>
            </span>
          </li>
          <li>
            <fa-icon [icon]="faUser" class="mr-3"></fa-icon>
            <a routerLink="/profile">Profile</a>
          </li>
          <li>
            <fa-icon [icon]="faUser" class="mr-3"></fa-icon>
            <button
              class="btn btn-link p-0"
              id="logoutBtn"
              (click)="logout()"
            >
              Log out
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- <nav
  id="header"
  class="navbar sticky-top navbar-light bg-light navbar-expand-lg navbar-template"
>
  <a class="navbar-brand logo" href="/">
    <img src="assets/images/Logo.png" alt="logo" class="img-fluid" />
    <span class="text-bold">dart</span>
  </a> -->
  <!-- <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
    <img src="//placehold.it/40?text=LOGO" alt="logo" />
  </a> -->
  <!-- <div class="d-flex flex-row order-2 order-lg-3"> -->
    <!-- <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a
          *ngIf="!authService.isAuthenticated()"
          class="btn btn-secondary"
          role="button"
          [routerLink]="['/login']"
          >signup/login</a
        >
        <a
          *ngIf="authService.isAuthenticated()"
          class="btn btn-secondary"
          role="button"
          [routerLink]="['/login']"
          >welcome {{ authService.currentUser.firstName }}</a
        >
      </li> 
    </ul> -->
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#myNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div
    class="collapse navbar-collapse text-right order-3 order-lg-2"
    id="myNavbar"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link m-2 menu-item"
          routerLinkActive="active"
          routerLink="/"
        >
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link m-2 menu-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['/buses']"
          >Buses</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link m-2 menu-item"
          routerLinkActive="active"
          [routerLink]="['/buses/0/edit']"
          >Add Bus</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link m-2 menu-item"
          routerLinkActive="active"
          [routerLink]="['/login']"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a href="#news" class="nav-link m-2 menu-item">News</a>
      </li>

      <li class="nav-item">
        <a href="#partiners" class="nav-link m-2 menu-item">Our Partiners</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link m-2 menu-item">Contact Us</a>
      </li>
    </ul>
  </div>
</nav> -->
