<div id="topbar" class="d-none d-lg-flex align-items-end topbar-transparent">
  <div class="container-fluid d-flex justify-content-end">
    <div class="social-links">
      <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faLinkedIn"></fa-icon></a>
    </div>
  </div>
</div>

<nav
  id="header"
  class="navbar sticky-top navbar-light bg-light navbar-expand-lg navbar-template"
>
  <a class="navbar-brand logo" href="/">
    <img src="assets/images/Logo.png" alt="logo" class="img-fluid" />
    <span class="text-bold">dart</span>
  </a>
  <!-- <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
    <img src="//placehold.it/40?text=LOGO" alt="logo" />
  </a> -->
  <div class="d-flex flex-row order-2 order-lg-3">
    <!-- <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a
          *ngIf="!authService.isAuthenticated()"
          class="btn btn-secondary"
          role="button"
          [routerLink]="['/login']"
          >signup/login</a
        >
        <a
          *ngIf="authService.isAuthenticated()"
          class="btn btn-secondary"
          role="button"
          [routerLink]="['/login']"
          >welcome {{ authService.currentUser.firstName }}</a
        >
      </li> 
    </ul> -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#myNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div
    class="collapse navbar-collapse text-right order-3 order-lg-2"
    id="myNavbar"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a 
        class="nav-link m-2 menu-item"
        routerLinkActive="active"
        routerLink="/"
        >
        Home
        <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link m-2 menu-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['/buses']"
          >Buses</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link m-2 menu-item"
          routerLinkActive="active"
          [routerLink]="['/buses/0/edit']"
          >Add Bus</a
        >
      </li>
      <li class="nav-item">
        <a href="#services" class="nav-link m-2 menu-item">Services</a>
      </li>
      <li class="nav-item">
        <a href="#news" class="nav-link m-2 menu-item">News</a>
      </li>

      <li class="nav-item">
        <a href="#partiners" class="nav-link m-2 menu-item">Our Partiners</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link m-2 menu-item">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
