<section id="booking">
  <div class="container">
    <header>
      <h3>complete your details</h3>
      <p>please fill your details and select your seat</p>
      <hr>
    </header>
    <div class="row">
      <div class="col-md-8">
        <div class="card bg-light mb-3">
          <div class="d-sm-flex">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <img src="assets/images/Logo.png" class="card-img" alt="..." />
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
              <div class="card-body">
                <h5 class="card-title">{{bus?.name}}</h5>
                <div class="card-text">
                  <span><strong>departing date: </strong>{{bus?.date}}</span><br>
                  <span><strong>departing time: </strong>{{bus?.time}}</span><br>
                  <span><strong>travel price: </strong>{{bus?.price}}</span><br>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form>
          <h3>Passenger Details</h3>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <select class="select form-control form-control-lg is-invalid" aria-describedby="validationServer04Feedback" required>
                <option selected disabled value="">Title</option>
                <option>Mr</option>
                <option>Mrs</option>
                <option>Ms</option>
              </select>
              <!-- <div id="validationServer04Feedback" class="invalid-feedback">
                Please select a valid state.
              </div> -->
            </div>
            <div class="col-md-4 mb-3">
              <input type="text" class="form-control form-control-lg is-valid" placeholder="First name" value="" required>
              <!-- <div class="valid-feedback">
                Looks good!
              </div> -->
            </div>
            <div class="col-md-4 mb-3">
              <input type="text" class="form-control form-control-lg is-valid" placeholder="Last name"value="" required>
              <!-- <div class="valid-feedback">
                Looks good!
              </div> -->
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <input type="text" class="form-control form-control-lg is-invalid" placeholder="Birthdate" aria-describedby="validationServer03Feedback" onfocus="(this.type='date')" onblur="(this.type='text')" required>
              <!-- <div id="validationServer03Feedback" class="invalid-feedback">
                Please provide a valid city.
              </div> -->
            </div>
            <div class="col-md-4 mb-3">
              <input type="text" class="form-control form-control-lg is-invalid" placeholder="Mobile" aria-describedby="validationServer05Feedback" required>
              <!-- <div id="validationServer05Feedback" class="invalid-feedback">
                Please provide a valid zip.
              </div> -->
            </div>
            <div class="col-md-4 mb-3">
              <input type="text" class="form-control form-control-lg is-invalid" placeholder="Emergency contact" aria-describedby="validationServer05Feedback" required>
              <!-- <div id="validationServer05Feedback" class="invalid-feedback">
                Please provide a valid zip.
              </div> -->
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <select class="select form-control form-control-lg is-invalid" aria-describedby="validationServer04Feedback" required>
                <option selected disabled value="">City of residence</option>
                <option>Mwanza</option>
                <option>Arusha</option>
                <option>Dar es salaam</option>
              </select>
              <!-- <div id="validationServer04Feedback" class="invalid-feedback">
                Please select a valid state.
              </div> -->
            </div>
            <div class="col-md-4 mb-3">
              <input type="email" class="form-control form-control-lg" placeholder="Email address"  aria-describedby="emailHelp">
            </div>
            <div class="col-md-4 mb-3">
              <input type="email" class="form-control form-control-lg" placeholder="Confirm email address"  aria-describedby="emailHelp">
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
      </div>
    </div>
  </div>
</section>



