<section id="booking">
  <div class="container">
    <header>
      <h3>Book Your Seat</h3>
      <hr>
    </header>
    <div class="row">
      <div class="col-md-4 col-sm-6" *ngFor="let bus of buses">
        <div class="card bg-light mb-3">
          <div class="d-flex">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <img src="assets/images/Logo.png" class="card-img" alt="..." />
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8">
              <div class="card-body">
                <h5 class="card-title">{{bus?.name}}</h5>
                <div class="card-text">
                  <span><strong>departing date: </strong>{{bus?.date}}</span><br>
                  <span><strong>departing time: </strong>{{bus?.time}}</span><br>
                  <span><strong>travel price: </strong>{{bus?.price}}</span><br>
                  <span></span>
                </div>
                <div>
                  <a href="" class="btn btn-info" role="button" [routerLink]="['/book', bus.id]">take a seat</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

